.navbar{
  background: rgb(238,174,202);
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.navbar-toggler{
    background-color: pink;
}


.carousel-item {
   height: 600px;
}


h5{
  font-family: 'Anton', sans-serif;
  font-size: 80px;
  text-transform: uppercase;
}

p{
  font-family: 'Montserrat', sans-serif;
}

h4{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  white-space: pre-wrap;
}

h2{
  font-family: 'Anton', sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  color: pink;
}


h3{
  font-family: 'Anton', sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  text-align: left;
  color: pink;
  margin-left: 50px;
}


.navbar{
    font-family: 'Anton', sans-serif;
    font-size: 20px;
}

.olafur-tagline{
  margin-left: 50px;
  margin-right: 50px;
}

.card{
  margin-left: 50px;
  margin-right: 50px;
  background: rgb(186,172,207);
  background: linear-gradient(335deg, rgba(186,172,207,1) 0%, rgba(115,123,141,1) 100%);
}

.card-header{
  font-family: 'Anton', sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

.card-img-top{
  height: 500px;
  width: inherit;
}

.card-text{
  white-space: pre-line;
}

.link-text{
  color: black;
  text-decoration: underline;
}


.page-footer{
  background: rgb(238,174,202);
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.footer-copyright{
  background-color: black;
  color: white;
}


.btn-danger{
  justify-content: center;
}


ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
	background-color: #D3D3D3;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.social-container{
  display: flex;
  justify-content: center;
}

.youtube {
  display: flex;
  justify-content: center;
}
